body{
    background-color:darkolivegreen;
    margin: 0px;
 

}
*{
    margin: 0;
    padding: 0;
    font-family:"rubik", sans-serif ;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;

}

.cabecalho h1{
     color: darkgrey;

}

.cabecalho img{
    max-width: 70px ;
     max-height:70px ;
     width: auto;
     height: auto;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding:2% 0 0 4% ;
    
}
.container-input .input{
    width: 400px;
    height: 330px;

}
#input-texto{
    width:345px ;
    height: 330px;
    font-size: 20px;
    color: darkgrey;
    background-color: rgb(2, 97, 2);
    box-shadow: none;
    border: none;
    outline:0 ;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 15px;
    
}

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 20px;
    width: 350px;
    height: 400px ;
    margin-right: 3%;
    background-color: transparent;

    
}

#output h2{
    text-align: center;
    font-size: 25px;
    color: darkgrey;
    background: transparent;
}

#output span{
    font-size: 16px;
    text-align: center;
    color: darkgrey;
    background-color: transparent;
}
.container-bnt button{
    border: 2px solid rgb(31, 31, 31);
    border-radius: 10px;
    text-decoration: none;
    color:rgb(0, 0, 0) ;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
    background-color: rgb(255, 211, 211);
}

.btn-copiar{
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color:darkgrey ;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
    margin-top: 300px;
}
.container-bnt button:hover {
    border: 2px solid rgb(121, 120, 120);
    background-color: rgb(138, 115, 115);
    transition: 0.5 all;
}




